.home {
  background-color: #2f3542;
  color: #ff6b81;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 10rem;
}
.title span {
  font-weight: 300;
}
.searchArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}
.search {
  background: #ffffff;
  border: 2px solid #ff6b81;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  font-size: 2rem;
  padding: 0.8rem 0.8rem;
  width: 400px;
  outline: none;
  color: #555555;
}
.submit {
  background: #ff6b81;
  border: 2px solid #ff6b81;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  width: 120px;
  outline: none;
  padding: 0.8rem 0.8rem;
  color: white;
  font-size: 2rem;
  font-weight: 300;
  box-shadow: 3px 3px 10px 6px #77777738;
  cursor: pointer;
}
.recipeCard {
  width: 60rem;
  margin: 1rem 0;
  border-radius: 1rem;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #747d8c;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.recipeImage {
  width: 100%;
  height: 250px;
  background-position: center;
  object-fit: cover;
}
.textArea {
  padding: 2rem;
  color: White;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.recipeTitle {
  color: white;
  font-size: 3rem;
  font-family: cursive;
}
.leftRightContainer {
  display: flex;
}
.left {
  width: 40%;
  margin: 1rem;
}
.right {
  width: 60%;
  margin: 1rem;
}
.ingredientLists {
  font-size: 1.6rem;
  text-align: justify;
  color: #ffebee;
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cardSubtitle {
  color: #ffd2d8;
  font-size: 1.6rem;
}
.cardSubtitleData {
  font-size: 1.2rem;
}
.rowData {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footerText {
  width: 100%;
  text-align: right;
}
